@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-grid-col {
	grid-template-columns: repeat(3, minmax(40%, 1fr));
}
.invalid-feedback{
    color: red;
}
.alert-danger{
    color: red;
}
